/* ----------------------------------------------------------------
	Variables
-----------------------------------------------------------------*/

//-------------------- Base Colors --------------------//

$orange: #ff7a00;
$primary: #ff7a00;
$yellow: #FEC711;
$beige : #FAF1D9;
$white: #fff;
$black: #000000;
$dark: #1e1e1e;
$vert: #1ea86f;

//-------------------- Fonts-weight --------------------//

$regular: 400;
$bold: 700;
$black: 900;

//------------------------- mep ------------------------//

$margin: 80px;

$font-family-title: 'Lilita One', sans-serif;

