$orange: #ff7a00;
$yellow: #FEC711;
$orangelight: #fcae5d;
$beige : #FAF1D9;
$white: #fff;
$brown: #C25D0E;
$black: #000000;
$dark: #1e1e1e;
$green: #1ea86f;

$regular: 400;
$bold: 700;

$margin: 80px;

$font-family-title: 'Lilita One', sans-serif;