@use "../base/variables" as variables;
@use "../base/mixins" as *;

.block-cta {
    &_link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fddcc8;
        border-radius: 16px;
        padding: 80px 30px;
        max-width: 1000px;
        margin: 0 auto;
        position: relative; 
        z-index: 2;
        cursor: none;

        .mascotte {
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            opacity: 0;
            transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
        }

        &:hover .mascotte {
            width: 150px;
            height: 150px;
            left: var(--tx, 0px);
            top: var(--ty, 0px);
            opacity: 1;
            transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
        }
    }

    &-title {
        margin: 0;
        font-size: 40px;
        color: variables.$black;
        line-height: 1.4;
        text-align: center;

            strong {
            font-weight: bold;
            font-size: 50px;
            color: variables.$black;
        }
    }
}