@use "../base/variables" as variables;

.footer {
    background: repeating-linear-gradient(45deg,
        variables.$orange,
        variables.$orange 10px,
        variables.$white 10px,
        variables.$white 20px,
        variables.$green 20px,
        variables.$green 30px,
        variables.$white 30px,
        variables.$white 40px);
    padding: 30px;

    &_copyright {
        display: flex;
        align-items: baseline;

        .cky-banner-element {
            background: transparent;
            border: 0;
            position: relative;
            padding: 0;
            padding-right: 9px;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }

            &:before {
                position: absolute;
                content: "|";
                font-size: 12px;
                top: 55%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }

    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
    }

    &-inner {
        background: variables.$white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding: 40px;
        gap: 40px;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;

        @media (min-width: 576px) {
            padding-left: calc((100vw - 540px) / 2 );
            padding-right: calc((100vw - 540px) / 2 );
        }
        @media (min-width: 768px) {
            padding-left: calc((100vw - 720px) / 2 );
            padding-right: calc((100vw - 720px) / 2 );
        }

        @media only screen and (min-width: 992px) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            padding-left: calc((100vw - 992px) / 2 );
            padding-right: calc((100vw - 992px) / 2 );
        }

        @media (min-width: 1200px) {
            padding-left: calc((100vw - 1400px) / 2 );
            padding-right: calc((100vw - 1400px) / 2 );
        }
    } 

    &-infos {
        flex: 1;

        @media (min-width: 768px) {
            min-width: 250px;
        }

        &:last-child {
            border-bottom: none;
        }

        a {
            font-weight: bold;
            color: variables.$black;
            font-size: 1rem;
            transition: color 0.2s ease-in-out;
            
            &:hover {
                color: variables.$yellow;
                transition: color 0.2s ease-in-out;
            }
        }

        p {
            position: relative;
            padding-bottom: 10px;
            font-size: 1rem;
            font-weight: bold;
            border-bottom: 1px solid variables.$black;
        }
    }

    &-logo {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        @media (max-width: 768px) {
            align-items: flex-start;
        }

        .logothak {
            margin-bottom: 10px;
            max-width: 250px;
            height: auto;

            img {
                max-width: 250px;
                height: auto;
            }
        }
    }
}